@import "navbar";
@import "hover";

.skill-image {
  max-width: 600px;
}

.portfolio-image,
.work-image {
  max-width: 600px;
}

.social-img {
  max-width: 50px;
}

.homeHero-gear {
  top: 0;
  left: 0;
  right: 0;
}

.homeHero-background {
  min-height: 100px;
}

.work-background {
  min-height: 400px;
  max-height: 1200px;
  width: auto;
  left: 0;
  right: 0;
}

.portfolio-bg {
  left: 0;
  right: 0;
  min-height: 800px;
  max-height: 900px;
}

.footer-background {
  left: 0;
  right: 0;
  width: auto;
  min-height: 525px;
  max-height: 525px;
}

.skill-background {
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  max-height: 650px;
}
