.navbar-toggler {
  margin: 0 0 0 16px;
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

.navbar-toggler:active {
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 500;
  color: #43a6b1;
  transition-duration: 0.1s;
}

.nav-shadow {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: HSLA(186, 45%, 48%, 0.5);
}

.anchor {
  display: block;
  height: 100px; /*same height as header*/
  margin-top: -100px; /*same height as header*/
  visibility: hidden;
}

.navbar-light .navbar-nav .nav-link {
  @media (max-width: 767px) {
    margin-left: 0px;
  }
}
