transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
transition-property: all;
transition-duration: 0.25s;
transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
transition-delay: initial;

footer {
  background-color: #f8f8fb;
  border-top: 1px solid rgba(239, 234, 255, 0.65);
}
